/* Declarando variáveis para reaproveitamento */
$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;;
$arial-bold: 'Arial Black', 'Arial Bold', 'Arial', sans-serif;
$times: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$marrom: #4e442e;
$verde: #bbe902;
