section#o-que-fazemos {
	position: relative;
	display: table;
	padding-top: 50px;
	padding-bottom: 100px;
	


	.item {
		width: 30%;
		position: relative;
		display: table;
		float: left;
		margin: 128px 35px 0 0;

		&:last-of-type {
			margin-right: 0;
		}

		img {
			margin: 0 auto;
			display: table;
			margin-bottom: 40px;
		}

		p {
			font-size: 1.6em;
			color: $marrom;
			line-height: 1.5;
		}
	}
}
